<div class="poc-wrapper">
    <!-- fxLayout="row" fxLayoutAlign="center center" -->
    <section class="poc-parent-card">
        <div class="poc-header">
            <mat-card class="poc-header-card">
                <mat-card-content class="poc-header-title secondary-text">
                    <span class="title-text">{{header}}</span>
                    <mat-icon (click)="close()" class="material-symbols-outlined close-icon">close</mat-icon>
                </mat-card-content>
            </mat-card>
        </div>

        <form [formGroup]="pocForm" class="poc-form-container">
        
            <div class="row">
                <mat-form-field class="col-md-4 col-12 poc-form-field" appearance="outline">
                    <mat-label>Teacher First Name</mat-label>
                    <input type="text" matInput placeholder="Teacher First Name" formControlName="teacherfirstname" required>
                </mat-form-field>
                <mat-form-field class="col-md-4 col-12 poc-form-field" appearance="outline">
                    <mat-label>Teacher Last Name</mat-label>
                    <input type="text" matInput placeholder="Teacher Last Name" formControlName="teacherlastname" required>
                </mat-form-field>
                <mat-form-field class="col-md-4 col-12 poc-form-field" appearance="outline">
                    <mat-label>Designation</mat-label>
                    <input type="text" matInput placeholder="Designation" formControlName="designation" required>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col-md-4 col-12 poc-form-field" appearance="outline">
                    <mat-label>Grade</mat-label>
                    <mat-select formControlName="teachingToGrade" multiple>
                      <mat-option *ngFor="let grade of grades" [value]="grade">
                        {{grade}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-4 col-12 poc-form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="col-md-4 col-12 poc-form-field" appearance="outline">
                    <mat-label>Contact Num1</mat-label>
                    <input type="text" matInput placeholder="Contact Num1" formControlName="contactNum1" required>
                </mat-form-field>
                
            </div>

            <div class="row">
                <mat-form-field class="col-md-4 col-12 poc-form-field" appearance="outline">
                    <mat-label>Contact Num2</mat-label>
                    <input type="text" matInput placeholder="Contact Num2" formControlName="contactNum2">
                </mat-form-field>
                <mat-form-field class="col-md-4 col-12 poc-form-field" appearance="outline">
                    <mat-label>First Contact</mat-label>
                    <mat-select formControlName="firstContact">
                      <mat-option *ngFor="let level of levels" [value]="level">
                        {{level}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-4 col-12 poc-form-field" appearance="outline">
                    <mat-label>LinkedIn ID</mat-label>
                    <input type="text" matInput placeholder="LinkedIn ID" formControlName="linkdinID">
                </mat-form-field>
            </div>

        </form>
        <div *ngIf="isAuthorized" class="col-md-12 text-center btn-container">
            <button (click)="submitPOC()" class="save-btn" mat-flat-button color="warn">Save</button>
        </div>
    </section>
</div>
