.school-info-section {
    padding-top: 30px;
    overflow: hidden;
    .si-form-field {
        position: relative;
        input {
            position: inherit;
            bottom: 12px;
            font-size: 13px;
        }
        .search-icon {
            padding: 7px;
            padding-top: 16px;
            font-size: 20px;
        }
    }
    .save-btn {
        font-size: 14px !important;
        letter-spacing: 0.5px !important;
        height: 28px !important;
    }
}

.si-select-readonly {
    pointer-events: none;
}

::ng-deep .si-form-field.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    font-size: 12px !important;
    top: 25px !important;
}
  
::ng-deep .si-form-field .mdc-text-field--outlined .mdc-floating-label {
    font-size: 14px !important;
    top: 14px !important;
}
  
::ng-deep .si-form-field .mat-mdc-form-field-flex {
    height: 28px;
}
  
::ng-deep .si-form-field .mat-mdc-select-trigger {
    bottom: 12px;
}
  
::ng-deep .si-form-field .mat-mdc-select-value-text {
    font-size: 14px;
}