<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="flex-center h-100">
    <mat-card class="sd-card">
        <div *ngIf="schoolDetails" class="flex-center h-100 sd-main-padding">
            <mat-tab-group class="w-100" color="warn" mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="School Information" labelClass="custom-label"> 
                    <app-school-information [schoolDetails]="schoolDetails"></app-school-information> 
                </mat-tab>
                <mat-tab label="School Grades" labelClass="custom-label"> 
                    <app-school-grade [schoolDetails]="schoolDetails"></app-school-grade> 
                </mat-tab>
                <mat-tab label="Point Of Contact" labelClass="custom-label"> 
                    <app-school-poc [schoolDetails]="schoolDetails"></app-school-poc>
                </mat-tab>
                <mat-tab label="Meeting Notes" labelClass="custom-label"> 
                    <app-school-meeting-notes [schoolDetails]="schoolDetails"></app-school-meeting-notes>
                </mat-tab>
                <mat-tab label="Outreach And Trainer Information" labelClass="custom-label"> 
                    <app-outreach-trainer-info [schoolDetails]="schoolDetails"></app-outreach-trainer-info>
                </mat-tab>
                <!-- <mat-tab label="Outreach Information" labelClass="custom-label"> 
                    <app-outreach-information [schoolDetails]="schoolDetails"></app-outreach-information>
                </mat-tab>
                <mat-tab label="Trainer Information" labelClass="custom-label"> 
                    <app-training-information [schoolDetails]="schoolDetails"></app-training-information>
                </mat-tab> -->
                <!-- <mat-tab label="MBP Flags and Agreement" labelClass="custom-label"> 
                    <app-mbp-flag [schoolDetails]="schoolDetails"></app-mbp-flag>
                </mat-tab> -->
                <!-- <mat-tab label="Agreement" labelClass="custom-label"> 
                    <app-school-agreement></app-school-agreement>
                </mat-tab> -->
            </mat-tab-group>
        </div>
    </mat-card>
</div>