<section class="clearfix bg-white h-100 sec-bg-img">
    <div class="container-fluid container-bgd-img">
        <div class="container py-5">
            <div class="section-title text-center">
                <small class="sub-title">Welcome to the world of</small>
                <h2 class="title-text pb-3"><strong class="primary-text">
                  <span>Maitri</span><span> Sanskar</span>  
                </strong> Parivaar</h2>
            </div>
        
            <div class="text-center">
                <p>Transforming ourselves and our world - through personal and social changes.<br>A place to uplift human consciousness and discover the true essence of Life.</p>
                <!-- <a mat-stroked-button color="warn" routerLink="/login" class="about-us-btn">Log In</a> -->
            </div>
        </div>
    </div>
</section>
