.fpc-wrapper {
    padding: 20px 30px;
    font-family: ui-sans-serif;
    .fpc-parent-card {
        position: relative;
        .fpc-header {
            .fpc-header-card {
                text-align: center;
                .fpc-header-title {
                    font-size: 20px;
                    font-weight: 600;
                    padding: 10px;
                    font-family: "Poppins", sans-serif;
                    // color: #4f6672;
                }
                .close-icon {
                    float: right;
                    color: #000000;
                    cursor: pointer;
                }
            }
        }

        .fpc-form-container {
            // overflow: auto;
            // min-height: 65vh;
            // max-height: 75vh;
            .personal-detail-form {
                margin-top: 20px;
                .search-icon {
                    padding: 7px;
                    padding-top: 12px;
                    font-size: 20px;
                }
            }
        }
    }  
}

.field-width {
    width: 100%;
}

.mt-34 {
    margin-top: 34px !important;
}