<div class="fpc-wrapper">
    <!-- fxLayout="row" fxLayoutAlign="center center" -->
    <section class="fpc-parent-card">
      <div class="fpc-header">
        <mat-card class="fpc-header-card">
          <mat-card-content class="fpc-header-title secondary-text">
            <span>{{title}}</span>
            <mat-icon (click)="close()" class="material-symbols-outlined close-icon">close</mat-icon>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card-content class="fpc-form-container p-0">  

        <div>
            <mat-form-field class="field-width mt-34" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="text" matInput placeholder="Enter Email" [formControl]="email" required>
            </mat-form-field>
    
            <span *ngIf="!data.forgotPassword">
                <mat-form-field class="field-width" appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input type="text" matInput placeholder="Old Password" [formControl]="oldPWD" required>
                </mat-form-field>
      
                <mat-form-field class="field-width" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input type="text" matInput placeholder="New Password" [formControl]="newPWD" required>
                </mat-form-field>
            </span>
            
        </div>

        <div class="text-center">
            <button (click)="onSubmit()" [disabled]="isValid()" mat-flat-button color="warn">Submit</button>
          </div>

      </mat-card-content> 
    </section>
</div>