.registration-wrapper {
    padding: 20px 30px;
    // height: 100%;
    font-family: ui-sans-serif;
    .registration-parent-card {
        position: relative;
        // padding: 20px;
        // width: 70%;
        .registration-header {
            .registration-header-card {
                // position: absolute;
                // top: -5%;
                // left: 20%;
                // width: 60%;
                text-align: center;
                .registration-header-title {
                    font-size: 20px;
                    font-weight: 600;
                    padding: 10px;
                    font-family: "Poppins", sans-serif;
                    // color: #4f6672;
                }
                .close-icon {
                    float: right;
                    color: #000000;
                    cursor: pointer;
                }
            }
        }

        .registration-form-container {
            overflow: auto;
            min-height: 65vh;
            max-height: 75vh;
            .personal-detail-form {
                margin-top: 20px;
                .search-icon {
                    padding: 7px;
                    padding-top: 12px;
                    font-size: 20px;
                }
            }
        }
    }  
}

.mat-stepper-horizontal {
  margin-top: 8px;
}
  
.mat-mdc-form-field {
  margin-top: 16px;
}

.field-width {
    width: 32%;
}

.addr-field-width {
    width: 100%;
}

.ml-2 {
    margin-left: 16px;
}